<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nouveau message reçu de la part de  <%= @message["name"] %>!</h1>
    <p>Email: <%= @message["email"] %></p>
    <p>Objet: <%= @message["subject"] %></p>
    <p>Message: <%= @message["message"] %></p>
  </body>
</html>
