<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Vous avez reçu un nouveau message sur le site du Poticha ! </h1>
    <p>Message envoyé par <%= @message["name"] %>!</p>
    <p>Email: <%= @message["email"] %></p>
    <p>Objet: <%= @message["subject"] %></p>
    <p>Message: <%= @message["message"] %></p>
  </body>
</html>
